<h2 class="text-center">Welcome to Java Learning Center</h2>
<h2 class="text-center">Student Info</h2>
<div class="container">
    <table class="table">
        <tr>
            <td>
                <input type="text" [(ngModel)]="courseName" class="form-control form-control-lg" placeholder="Type your courses">
            </td>
        </tr>
    </table>
</div>

<div class="container">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <th>SID</th>
            <th>Sname</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Feepaid</th>
            <th>Date of Joining</th>
        </thead>
        <tbody>
            <!--<tr *ngFor="let stu of myStudents| slice:0:5"> -->
            <tr *ngFor="let stu of myStudents| mysearch:courseName">
                <td>{{stu.sid}}</td>
                <td>{{stu.sname | uppercase}}</td>
                <td>{{stu.phone}}</td>
                <td>{{stu.course | lowercase}}</td>
                <td>{{stu.feepaid | currency:stu.currencyCode}}</td>
                <td>{{stu.doj | date:stu.dateFormat}}</td>
            </tr>
        </tbody>
    </table>
</div>